<!DOCTYPE HTML>
<html>
<head>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta charset="utf-8"/>
<title>品牌管理</title>
<style type="text/css">
	body {
		font-family: SimSun;
	}
</style>
</head>
<body>
<div style="width:794px;height:1123px; line-height:12px; font-size:8px;">
<div style="font-size:10px;">大连市房屋租赁管理有限公司-----------------------------------------------------------------------------------------------<img src="${imagePath}/abc.png"/></div>
<p style="font-weight:bold">合同编号：_________</p>
<p style="text-align:center; font-size:12px; font-weight:bold;">大连市房屋租赁合同  </p>
<p style="font-weight:bold">出租方（以下称甲方）</p>
<p>姓名：_________ 有效身份证件：_______________________　常住地址：_______________________________　 电话：_________________ 备用联系人姓名：_________ 电话：_________________</p>
<p style="font-weight:bold">承租方（以下称乙方）</p>
<p>姓名：_________ 有效身份证件：_______________________　常住地址：_______________________________　 电话：_________________ 备用联系人姓名：_________ 电话：_________________</p>
<p style="font-weight:bold">居间方（以下称丙方）</p>
<p>经纪人姓名：_________ 证件号：_______________________　个人电话：_________________　 所属经济公司：_________________ 备公司电话：_________________</p>
<p>根据《中华人民共和国合同法》、《中华人民共和国城市房地产管理法》、《大连市房屋租赁管理办法》等法律规定，为保障甲、乙双方的合法权益，甲、乙方在丙方的居间撮合下协商一致，签订本合同。本合同为大连市房屋租赁运营管理平台（以下简称平台）出具的大连市范围内唯一有效的统一格式房屋租赁合同文本。</p>
<p style="font-weight:bold">一、租赁标的</p>
<p>甲、乙双方通过丙方提供的居间服务出租及承租位于大连市　______区______________路（街）______号（楼）______单元　______层______号，权属为______，证号：______________，建筑面积约______平方米的房屋(以下简称“该房屋”)及其装修设施、家具设备，以及额外约定添置的电器设备等（见附件《房屋交割清单》），其中出租区域实际使用面积______平方米，由乙方________人使用，租赁用途为______。房屋具体面积与地址以房产证及相关正式法律文书上的记载为准。</p>
<p style="font-weight:bold">二、执行双方</p>
<p style="font-weight:bold">1.房屋所有权人（公有住房承租人、购房人）</p>
<p>房屋所有人权姓名：_________有效身份证件：_______________________电话：_________________是否确认出租：□ 是</p>
<p>（甲方若为房屋产权所有人的代理人，须向平台上传《委托代理公证书》，否则本合同签署视为无效。）</p>
<p style="font-weight:bold">2.实际使用人</p>
<p>使用人姓名：_________ 有效身份证件：_______________________　电话：_________________　是否已有居住证：□是□否  居住证编号：_________________ 居住证时效：_________________</p>
<p>使用人姓名：_________ 有效身份证件：_______________________　电话：_________________　是否已有居住证：□是□否  居住证编号：_________________ 居住证时效：_________________</p>
<p>使用人姓名：_________ 有效身份证件：_______________________　电话：_________________　是否已有居住证：□是□否  居住证编号：_________________ 居住证时效：_________________</p>
<p>使用人姓名：_________ 有效身份证件：_______________________　电话：_________________　是否已有居住证：□是□否  居住证编号：_________________ 居住证时效：_________________</p>
</div>
</body>
</html>