<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>大连市房屋租赁管理有限公司</title>
<style type="text/css">
body {
	font-family: SimSun; margin:0; padding:0; background:url(${imagePath}/contract-logo.png) repeat  0 0;
	
}
table{border: 1px solid #000; border-spacing: 0}
table tr th,table tr td{border:1px solid #000; padding:2px; text-align:center;}
table.borded-none{border:0;}
table.borded-none tr th,table tr td{border:0; font-size:10px;}
.cl:after, .clearfix:after {
	content: "\20";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.cl, .clearfix {
	zoom: 1
}
p { margin:0;
	margin-bottom:2px;
}

</style>
</head>
<body>
<div style="line-height:12px; font-size:10px;width: 698px;height: 1015px;">
  
  <p style="font-weight:bold  margin-bottom:10px;">合同编号：________________________________</p>
  <p style="text-align:center; font-size:14px; font-weight:bold;  margin-bottom:10px;">大连市房屋租赁合同 （三方版）</p>
  <p style="font-weight:bold; margin-top:3px;">出租方（以下称甲方）</p>
  <p>姓名：_____________ 有效身份证件：____________ 证件号码：______________________________ 送达地址：________________________________________ </p>
   <p>电话：_____________ 邮箱：____________________ 备用联系人姓名：________________________ 电话：_____________________________________________ </p>
  <p style="font-weight:bold; margin-top:3px;">承租方（以下称乙方）</p>
  <p>姓名：_____________ 有效身份证件：____________ 证件号码：______________________________ 送达地址：________________________________________ </p>
  <p>电话：_____________ 邮箱：____________________ 备用联系人姓名：________________________ 电话：_____________________________________________ </p>
  <p style="font-weight:bold; margin-top:3px;">居间方（以下称丙方）：</p>
   <p>公司名称：____________________________________ 送达地址：____________________________ 公司电话：__________________________________________</p>
  <p>经纪人姓名：__________________________________ 证件号：______________________________ 个人电话：__________________________________________　</p>
  <p style="margin-top:3px; margin-bottom:10px; text-indent:2em;">根据《中华人民共和国合同法》、《中华人民共和国城市房地产管理法》等法律规定，甲乙双方在丙方的居间促成下协商一致，签署本合同。本合同为大连市房屋租赁管理平台（以下简称平台）出具的大连市政府规定的统一合同文本。</p>
  <p style="font-weight:bold; margin-top:3px;">一、租赁标的</p>
  <p style="text-indent:2em;">甲方通过丙方提供的居间服务，将位于大连市____________________的房屋出租(以下简称“该房屋”)。该房屋的装修设施、家具设备，以及额外约定添置的电器设备等见附件一《房屋交割清单》， 结构______________　,权属______________，证号：____________________________，建筑面积__________平方米，其中出租区域实际使用面积__________平方米，由乙方______人使用，租赁用途为____________________。房屋具体面积与地址以房产证及相关正式法律文书上的记载为准。</p>
  <p style="font-weight:bold; margin-top:3px;">二、房屋所有权人</p>
  <p>房屋所有权人姓名：___________________ 有效身份证件：___________ 证件号码：__________________________ 电话：__________________________</p><p>房屋所有权人姓名：___________________ 有效身份证件：___________ 证件号码：__________________________ 电话：__________________________</p>

  <p style="font-weight:bold; margin-top:3px;">三、实际承租使用人信息</p>
  <p>使用人姓名：_____________ 有效身份证件：___________ 证件号码：__________________________ 电话：__________________________</p>
  <p>使用人姓名：_____________ 有效身份证件：___________ 证件号码：__________________________ 电话：__________________________</p>
  <p>使用人姓名：_____________ 有效身份证件：___________ 证件号码：__________________________ 电话：__________________________</p>
  <p>使用人姓名：_____________ 有效身份证件：___________ 证件号码：__________________________ 电话：__________________________</p>
  <p style="font-weight:bold; margin-top:3px;">四、租赁期限</p>
  <p>1.租期：_____________年________个月。自_____________年_________月_________日起至_____________年_________月_________日止。</p>
  <p>2.交付使用：甲方须在月_____________年________月________日之前将房屋及室内附属设备（详见附件一《房屋交割清单》）交付乙方使用。《房屋交割清单》经甲乙双方交验签署并移交房门钥匙后视为交付完成。</p>

  <p style="font-weight:bold; margin-top:3px;">五、租金及费用</p>
  <p>1.该房屋租金为（大写）________________________圆/月人民币，（¥________________________元），乙方须在以下指定时间内将租金支付给甲方，以后交租金日期以此类推。</p>
  <p>2.支付周期： □月付 □季付 □半年付 □年付</p>
  <p>__________年________月________日支付__________年________月________日至________年________月________日的租金，共计_______________________元</p>
  <p>__________年________月________日支付__________年________月________日至________年________月________日的租金，共计_______________________元</p>
  <p>__________年________月________日支付__________年________月________日至________年________月________日的租金，共计_______________________元</p>
  <p>__________年________月________日支付__________年________月________日至________年________月________日的租金，共计_______________________元</p>
 <p> 3.费用承担：租赁期内产生的下列费用中，________________________由甲方承担，________________________ 由乙方承担：(1)水费 (2)电费 (3)电话费 (4)电视收视费 (5)供暖费 (6)燃气费 (7)物业管理费 (8)房屋租赁税费 (9)卫生费 (10)上网费 (11)车位费 (12)室内设施维修费（13）__________费用。</p>
<p style="font-weight:bold; margin-top:3px;">六、押金规定</p>
<p>1.押金用作乙方履行本合同约定义务的担保，合同期内或合同履行期届满，如乙方违反合同约定，甲方可从押金中抵扣应由乙方承担的租金、违约金、物品损坏赔偿金和相关欠费等，扣款数额由双方协商确认。合同期满，如出现押金不足以抵扣前述款项及费用时，乙方需在10日内补足。</p>
<p>2.押金数额为：（大写）_____________圆(¥________元)，乙方需在__________年______月______日前按双方的约定交付。</p>  
<p style="font-weight:bold; margin-top:3px;">七、居间服务费</p>  
<p> 1.基于居间方已提供居间服务，甲方须于本合同签订当日，向丙方一次性交付居间服务费用人民币(大写)_____________圆 （¥________元）。</p>
<p style="font-weight:bold; margin-top:3px;">八、甲乙丙三方确认的附加条款</p> 
<p>1.签约当日甲方提供的证件原件有：</p>
<p>□身份证 □军官证 □护照 □士兵证 □产权证 □使用权证 □军产证或发票 □购房合同及发票 □借款合同及发票 □借款合同及发票 □其它证件</p>
<p>____________</p>
<p>2.签约当日乙方提供的证件原件有：</p>
 <p>□身份证 □军官证 □护照 □士兵证 □其它证件________________</p> 
 <p>3.甲、乙双方同意将上述证件的复印件留存于丙方处。</p>
  
 <p style="font-weight:bold; margin-top:3px; margin-bottom:10px;">九、甲乙丙三方其他约定</p>  
<p style="width:690px; height:1px; border-bottom:1px solid #333; margin-bottom:15px; margin-top:5px;"></p>
  <p style="width:690px; height:1px;  border-bottom:1px solid #333;  margin-bottom:10px; margin-top:5px;"></p>
  
  <table class="borded-none">
  <tr>
  <td width="232" style="text-align:left;"><p>甲方：</p><p>代理人：　</p><p>联系电话:</p><p> 　　　　年　　月　　日 </p></td>
  <td width="232" style="text-align:left;"><p>丙方（公章）：</p><p>经纪人：　</p><p>联系电话:</p><p> 　　　　年　　月　　日 </p></td>
  <td width="232" style="text-align:left;"><p>乙方：</p><p>代理人：　</p><p>联系电话:</p><p> 　　　　年　　月　　日 </p></td>
  </tr>
  </table>
</div>

<div style="line-height:12px; font-size:10px;width: 698px;">
<div class="cl">
<div style="width:340px; float:left;">
<p style="font-weight:bold; margin-top:3px;">十、甲乙丙三方保证</p>
<p>1.甲乙丙三方保证并承诺均为完全民事行为能力人或为依法成立的法人或组织，有权利进行本合同项下的任一事项，对合同约定的权利与义务已充分知晓并认可，并保证本合同所有信息的真实有效性，若因私下签署影子合同造成的一切后果，由各方自行承担。甲乙丙三方违反上述承诺及保证对第三人或本合同其他方造成侵权、伤害或损害，与平台无关，由违反承诺方负责解决，若给平台或本合同其他方造成损害的，违反承诺方应赔偿一切损失。</p>
<p>2.甲方保证：该房屋权属清楚，甲方有权进行本合同项下任一事项且不侵犯任何第三人的权利。同时甲方须保证在签署本合同之前该房屋不存在出租、转让、查封等影响出租的权利限制和相关债务，如有纠纷，由甲方负责处理。若因甲方违反上述保证对第三人或对乙方造成侵权、伤害或损害，与平台无关，甲方负责解决，若给平台或乙方造成损害的，甲方应赔偿一切损失。</p>
<p style="font-weight:bold; margin-top:3px;">十一、甲方权利义务</p>
<p>1.租赁期内，该房屋自然损坏的维修养护由甲方负责，因人为使用造成的损坏由乙方自行负责维修，双方另有约定的除外。</p>
<p>2.在租赁期间，甲方如需将该房屋转让，甲方应提前三个月书面通知乙方并保证本合同的继续履行，乙方有该房屋的优先购买权。</p>
<p>3.甲乙双方确认，该房屋交付乙方前，与该房屋有关的水、电、煤气、采暖等费用由甲方承担并负责结清；该房屋交付乙方后的租赁期内，与该房屋有关的相关费用按本合同的约定执行。</p>
<p>4.甲方有权对乙方使用房屋的情况进行监督，但不得对乙方正常、合理使用房屋进行干扰或者妨碍。</p>
<p>5.若房屋租赁期间，房屋装修、设施、家具，电器等发生损坏、遗失，甲方有权向乙方索取赔偿。对于保险公司已经赔付的房屋损失，甲方不得再向乙方追偿。</p>
<p>6.租赁期满或合同解除后，甲方有权收回房屋，乙方应按照原状返还房屋及其附属物品、设备设施。甲乙双方应对房屋和附属物品、设备设施及水电使用等情况进行验收，结清各自应当承担的费用。</p>
<p>7.租赁期满，若乙方欲继续承租该房屋，须在租期届满前1个月向甲方提出续租申请，甲乙双方经过协商，在平台共同签署《大连市房屋租赁续租合同》，完成续租流程。</p>
<p style="font-weight:bold; margin-top:3px;">十二、乙方权利义务</p>
<p>1.在租赁期间，如出现需由甲方负责维修的情况时，乙方应及时通知甲方，如因乙方延误通知给甲方造成损失的，由乙方承担维修责任，无法维修的由乙方承担赔偿责任。</p>
<p>2.乙方使用该房屋时，未经甲方书面同意，不得改变该房屋的用途；不得利用该房屋从事任何违法、非法、不道德、不恰当或有伤风化的活动；不得储存任何违禁品，易燃、爆炸等限制类物品（另行约定的除外）；同时必须严格遵守中华人民共和国法律和当地的有关规定。否则视为根本违约，甲方有权解除本合同。</p>
<p>3.乙方若要装修翻新房屋（不破坏结构）或更换设施，需先征得甲方书面同意，费用自付，未经允许不得擅自改动。</p>
<p>4.本合同因双方协议解除，或租期届满而终止履行时，乙方应在接到甲方解除合同的通知或租期届满之日迁出该房屋，并将该房屋及甲方所属家电、家具等内部设施及乙方对该房屋所进行的装修（如有）完好地返还给甲方，如造成损坏，由乙方负责修缮或按价赔偿,对于乙方遗留在该房屋内的任何财产、物品、文件、资料、设备等，甲方有权通过公安局或该房屋所在地居委会或小区物业等相关部门，将上述物品妥善放置其他处所并书面通知乙方。</p>
<p>5.未经甲方书面同意，乙方不得擅自转租该房屋。</p>
<p style="font-weight:bold; margin-top:3px;">十三、丙方权利义务</p>
<p>1.丙方应当认真负责地为甲乙双方订立房屋租赁合同提供机会或媒介服务，如实报告平台有关订立房屋租赁合同的事项，对合同中甲乙双方的信息、签署合同合意的真实合法性、合同订立等事项负责，并协助甲乙完成平台的全部操作流程，配合双方办理物业交验。</p>
<p>2.丙方有责任督促甲乙双方按照合同约定按时缴费。</p>
<p>3.丙方作为居间服务提供者，负责根据平台的要求完成合同签署、交接等操作流程。</p>
<p>4.甲乙双方无论任何原因致使本合同不能正常履行或提前解除（除丙方有过错外），由甲乙双方自行解决, 居间服务费用将不予退还。</p>
<p style="font-weight:bold; margin-top:3px;">十四、违约责任</p>
<p style="font-weight:bold;">1.甲方违约责任</p>
<p>（1）甲方因故迟延交付房屋，或交付的房屋严重不符合合同约定，影响乙方安全、健康的，按日期扣除日租金；</p>
<p>（2）若房屋存有隐患至乙方受损，甲方应按实际损失或约定金额向乙方赔偿损失；</p>
<p>（3）甲方若不承担约定的维修义务，致使乙方无法正常使用房屋的，按日期扣除日租金；</p>
<p>（4）本该甲方承担费用由乙方支付的，甲方应予以返还；</p>
<p>（5）如因甲方原因导致本合同解除的，甲方须向乙方支付违约金，违约金额相当于本合同约定的一个月租金，如该违约金不足以弥补乙方损失的，甲方还须赔偿乙方的损失。</p>
</div>
<div style="width:340px; float:right;">

<p style="font-weight:bold;">2.乙方违约责任</p>
<p>（1）乙方欠缴第五条第3款中的各项费用之和超过押金金额的，或欠缴各项费用达二个月的，视为乙方违约，甲方有权解除本合同，并按本合同第第六条第1款处理；</p>
<p>（2）如乙方违反本合同第五条第2款的约定，自逾期之日起每日按应交付租金的1%向甲方支付违约金；</p>
<p>（3）乙方逾期支付下一期租金（甲乙双方另有约定除外）超过七日，甲方有权解除合同，有权采取相关措施收回该房屋，而无需给予乙方任何赔偿、补偿，同时押金不予退还，对于乙方遗留在该房屋内的任何财产、物品、文件、资料、设备等，甲方有权通过公安局或该房屋所在地居委会或小区物业等相关部门，将上述物品妥善放置其他处所并书面通知乙方；</p>
<p>（4）乙方擅自改变房屋用途的，从事违法活动、损害公共利益或者妨碍他人正常工作、生活的，擅自将房屋转租给第三人的，甲方有权单方解约；</p>
<p>（5）乙方擅自拆改变动或损坏房屋主体结构的，甲方可要求乙方将房屋恢复原状或赔偿相应损失；</p>
<p>（6）乙方保管不当或不合理使用导致附属物品、设备设施损坏，应按《房屋交割清单》约定赔偿甲方损失；</p>
<p>（7）如因乙方原因导致本合同解除的，乙方须向甲方支付违约金，违约金数额相当于本合同约定的一个月租金，如违约金不足以弥补甲方损失的，乙方还须赔偿甲方的损失。</p>
<p style="font-weight:bold;">3.丙方违约责任</p>
<p>(1）丙方应保证房源的真实性，若提供虚假信息、隐瞒重要事实或有恶意串通行为的，除退还已收取的佣金外，还应赔偿由此给甲方或乙方造成的损失。</p>
<p>(2）丙方应按平台要求协助甲乙双方合同签署、交接等操作流程，若因丙方怠于履行上述义务，甲方有权要求丙方返还服务费，若给甲乙双方造成损失的，应予以赔偿。</p>
<p style="font-weight:bold; margin-top:3px;">十五、免责</p>
<p>1.如果甲乙丙三方未按照合同约定履行，经三方协商一致，可以免除违约责任，对各方信用评价没有任何影响。</p>
<p>2.因不可抗力而导致本合同无法履行的，本合同自行解除，甲乙双方免责。</p>
<p>3.若合同未到期，一方提起解除，而另一方提出异议时，则合同解除的流程暂停，待双方协商一致再按协商结果进行下一步操作。</p>
<p style="font-weight:bold; margin-top:3px;">十六、合同解除</p>
<p>1.若合同到期，在平台提醒甲乙丙三方后仍无人回应，则合同当天自行解除，同时平台默认合同签署三方全程履约，无异议。</p>
<p>2.若合同未到期，经甲乙双方协商一致，可提前解除本合同，向平台提出解除合同申请，或到指定窗口办理合同解除手续。</p>
<p>3.若合同未到期，甲乙双方中任一方提起解除，而甲乙双方中另一方提出异议时，则合同解除的流程挂起，待双方协商一致再按协商结果进行下一步操作。</p>
<p>4.若房屋被征收或者拆迁，导致本合同无法继续履行的，本合同自动解除，该房屋被征收或拆迁事宜按国家法律和地方规定执行。</p>
<p style="font-weight:bold; margin-top:3px;">十七、其他</p>
<p>1.<strong>合同争议</strong>。本合同的订立、生效、解释及争议，均适用中华人民共和国法律。发生争议时由当事人协商解决；协商不成的，可以向有管辖权的人民法院提起诉讼。平台有权将违约方违约情况记入信用体系。</p>
<p style="font-weight:bold; margin-top:3px;">十八、提醒</p>
<p>1.甲乙双方向丙方交付的款项，丙方均出具正式的发票，请向收取人索取。</p>
<p>2.乙方及实际使用人若非本地户口，应到房屋所在地派出所或通过平台办理居住证。</p>
<p>3.每次缴租日之前，甲乙双方应对房屋各项使用费用的阶段费用进行核对，以免造成长时间欠缴。</p>
<p>4.甲乙丙三方在签约时已见过对方本人或有授权书的代理人并认可对方的签约权利。</p>
<p>5.甲乙双方不要将款项交由丙方员工（无论任何职位）个人处保管，以保障甲乙双方资金安全，若因此产生损失，由甲乙双方自行承担。</p>
<p>6.甲乙丙三方均明确本合同中所登记的各方电话、邮箱信息、送达地址、备用联系人电话、常住地址等信息均是真实有效的，平台以短信提醒、快递邮寄、邮件送达、电话联系等任一方式发送相关信息即视为已送达。若有变更，三方应提前10日以书面形式通知平台，否则视为无变更。</p>
<p>7.乙方若因故长时间不能居住该房屋，需提前与甲方联系，留下变更联系方式，并将备用钥匙留给甲方，以备不时之需。</p>
<p>8.甲乙丙三方须登陆平台网站（http://www.housecenter.cn）仔细阅读《大连市房屋租赁运营管理平台信用体系》，并按照要求维护好自己的信用分数。</p>
<p>9.<strong>本合同附件</strong>构成<strong>本协议</strong>不可分割的组成部分，与<strong>本合同</strong>正文具有同等法律效力，<strong>本合同</strong>应包括<strong>本合同附件</strong>。</p>
<p>附件一《房屋交割清单》</p>
</div>
</div>
<hr style="margin-bottom:5px; margin-top:5px;"/>
<p style="font-weight:bold; margin-bottom:10px;">甲乙丙三方对上述合同内容已完全知晓认同并自愿履行本合同的各项约定，若出现问题，甲乙丙三方自行承担，甲乙丙三方确认签署</p>

  <table class="borded-none">
  <tr>
  <td width="232" style="text-align:left;"><p>甲方：</p><p> 　　　　年　　月　　日 </p></td>
  <td width="232" style="text-align:left;"><p>丙方：</p><p> 　　　　年　　月　　日 </p></td>
  <td width="232" style="text-align:left;"><p>乙方：</p><p> 　　　　年　　月　　日 </p></td>
  </tr>
  </table>
</div>


</body>
</html>