<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>大连市房屋租赁管理有限公司</title>
<style type="text/css">
body {
	font-family: Arial Unicode MS;
	width: 690px;
	height: 1000px;

}

p { margin:0;
	margin-bottom:1px;
}

</style>
</head>
<body>
<div style="line-height:12px; font-size:8px;">
  <div style="font-size:10px; margin-bottom:10px;">大连市房屋租赁管理有限公司----------------------------------------------------------------------------------------------</div>
  <p style="font-weight:bold  margin-bottom:10px;">合同编号：${no}</p>
  <p style="text-align:center; font-size:12px; font-weight:bold;  margin-bottom:10px;">大连市房屋租赁合同 </p>
   <p style="font-weight:bold">出租方（以下称甲方）</p>
  <p>姓名：_____ 有效身份证件：_____　常住地址：_____________________________________________________　 电话：_____</p>
  <p>备用联系人姓名：_____________ 电话：_________________</p>
  <p style="font-weight:bold">承租方（以下称乙方）</p>
  <p>姓名：_____ 有效身份证件：_____　常住地址：_____________________________________________________　 电话：_____</p>
  <p>备用联系人姓名：_____________ 电话：_________________</p>
  <p style="font-weight:bold">居间方（以下称丙方）</p>
  <p>经纪人姓名：_____ 证件号：_____　个人电话：_____　 所属经济公司：_____ 备用公司电话：_______________</p>
  <p>根据《中华人民共和国合同法》、《中华人民共和国城市房地产管理法》、《大连市房屋租赁管理办法》等法律规定，为保障甲、乙双方的合法权益，甲、乙方在丙方的居间撮合下协商一致，签订本合同。本合同为大连市房屋租赁运营管理平台（以下简称平台）出具的大连市范围内唯一有效的统一格式房屋租赁合同文本。</p>
  <p style="font-weight:bold">一、租赁标的</p>
  <p>甲、乙双方通过丙方提供的居间服务出租及承租位于大连市　____________区_________________路（街）________号（楼）______单元　______层______号，权属为_______________，证号：____________________，建筑面积约_____平方米的房屋(以下简称“该房屋”)及其装修设施、家具设备，以及额外约定添置的电器设备等（见附件《房屋交割清单》），其中出租区域实际使用面积_____平方米，由乙方_____人使用，租赁用途为_____。房屋具体面积与地址以房产证及相关正式法律文书上的记载为准。</p>
  <p style="font-weight:bold">二、执行双方</p>
  <p style="font-weight:bold">1.房屋所有权人（公有住房承租人、购房人）</p>
  <p>房屋所有人权姓名：_____有效身份证件：_____电话：_____是否确认出租：□ 是</p>
  <p>（甲方若为房屋产权所有人的代理人，须向平台上传《委托代理公证书》，否则本合同签署视为无效。）</p>
  <p style="font-weight:bold">2.实际使用人</p>
  <p>使用人姓名：_____________ 有效身份证件：__________________________　电话：____________________　是否已有居住证：□是□否  居住证编号：___________________ 居住证时效：_________________</p>
  <p>使用人姓名：_____________ 有效身份证件：__________________________　电话：____________________　是否已有居住证：□是□否  居住证编号：___________________ 居住证时效：_________________</p>
  <p>使用人姓名：_____________ 有效身份证件：__________________________　电话：____________________　是否已有居住证：□是□否  居住证编号：___________________ 居住证时效：_________________</p>
  <p>使用人姓名：_____________ 有效身份证件：__________________________　电话：____________________　是否已有居住证：□是□否  居住证编号：___________________ 居住证时效：_________________</p>
  <p style="font-weight:bold">三、租赁期限</p>
  <p>1.租赁期限为_____年_____个月。自_________年_________月_________日起至_________年_________月_________日止。</p>
  <p>2.甲方须在本合同签字生效之日起_____日内将房屋交付乙方使用。《房屋交割清单》（见附件）经甲、乙双方交验签字盖章并移交房门钥匙后视为交付完成。</p>
  <p>3.租赁期满或合同解除后，甲方有权收回房屋，乙方应按照原状返还房屋及其附属物品、设备设施，在____日内搬离房屋。甲、乙双方应对房屋和附属物品、设备设施及水电使用等情况进行验收，结清各自应当承担的费用。</p>
  <p>4.租赁期满，若乙方欲继续承租该房屋，须在租期届满前1个月向甲方提出续租申请，甲、乙双方经过协商，在平台共同签署《房屋租赁续租合同》，完成续租流程。</p>
  <p style="font-weight:bold">四、租金及费用</p>
  <p>1．该房屋为月租金人民币（大写）____________圆，（￥_____元），乙方需在合同签订3日内将租金交付甲方。</p>
  <p>2．租赁期内的下列费用中，____________由甲方承担，_____由乙方承担：(1)水费(2)电费(3)电话费(4)电视收视费(5)供暖费(6)燃气费(7)物业管理费(8)房屋租赁税费(9)卫生费(10)上网费(11)车位费(12)室内设施维修费（13）__________费用。</p>
  <p>3．若甲、乙双方没有事先约定，则在本合同期内，如发生政府有关部门征收本合同未约定的费用项目，与乙方使用、居住或经营该房屋有关的费用，均由乙方承担。若房屋权属为使用权，租赁过程中因使用权权属而产生的各项费用以及房屋质量相关费用由甲方来承担；双方若有另行约定，按照约定标准执行。</p>
  <p>4．租金结算方式：</p>
  <p>租金的付款方式为：</p>
  <p>以现金方式支付：□月付 □季付 □半年付 □年付；</p>
  <p>以银行贷款方式支付：□月付 □季付 □半年付 □年付。（此方式乙方须购买履约保险，详见随附细则）</p>
  <p>5．租金支付时间</p>
  <p>乙方须提前一个月支付甲方租金，并于每个交租月______日前，向甲方支付下次租金，具体约定（前四次日期，以后交租金日期类推）：</p>
  <p>__________年________月________日支付__________年________月________日至________年________月________日的租金，共计_______________________元</p>
  <p>__________年________月________日支付__________年________月________日至________年________月________日的租金，共计_______________________元</p>
  <p>__________年________月________日支付__________年________月________日至________年________月________日的租金，共计_______________________元</p>
  <p>__________年________月________日支付__________年________月________日至________年________月________日的租金，共计_______________________元</p>
  <p style="font-weight:bold">五、履约保证金</p>
  <p>1．乙方签署本合同须支付人民币（大写）_______________________圆(￥________元)，无息存入___________________________账户,作为履约保证金（金额应在0.8-2倍月租金之间）。银行审核履约保障金到账之后进行冻结，平台将履约保证金到账信息回执房屋租赁当事人，并作为第三方进行监管。</p>
  <p>2．若履约保证金3日内没有到账，则本合同作废，房屋租赁当事人应将合同退回中介公司。</p>
  <p>3．履约保证金用作乙方履行本合同约定义务的担保，如乙方违反合同约定，甲方可从履约保证金中扣除应由乙方承担的租金、违约金、赔偿金和相关费用。合同期满，如出现履约保证金不足以抵扣前述款项及费用时，乙方需在10日内补足。</p>
  <p>4．本合同解除时，甲、乙双方在验房之后，协商一致共同签署《房屋租赁履约保证金返还协议》，并通过平台或中介公司经纪人协助同时解冻账户资金，将约定金额转入各方账户。</p>
  <p>5．若超过合同期限，仅有一方向平台申请履约保证金解冻，则平台将短信提醒、快递邮寄、电话联系另一方，任何一种方式联系均视为通知送达。若另一方在10日之内仍不回应，则平台在申请解冻流程发起的10日后，将履约保证金解冻，转入申请人账户。</p>
  <p>6．如果甲、乙双方有任意一方未按合同约定提前解约，若申请人提前一个月通知另一方并在平台备案，则按照正常程序解约，履约保证金按上述程序解冻；若申请人未提前一个月告知另一方并备案，则履约保证金解冻后存入另一方账户。</p>
  <p style="font-weight:bold">六、居间服务费</p>
  <p>1.基于居间方已提供居间服务，甲方须于本合同签订后____日内，向丙方一次性交付居间服务费用人民币(大写)____________圆（￥____________元）。</p>
  <p>2.丙方有责任帮助甲、乙双方办理相关手续，并于____个工作日内办好相关手续。若因丙方原因超时办理，则丙方应向甲方赔偿违约金，每日赔偿金额为居间服务费的2%，即人民币（大写）___________圆（¥__________元）。</p>
  <p>3.甲、乙双方无论任何原因致使本合同不能正常履行（除丙方有过错外），由甲、乙双方自行解决,_居间服务费用将不予退还。</p>
  <p style="font-weight:bold">七、甲方责任</p>
  <p>1．租赁期内，该房屋自然损坏的维修养护由甲方负责，除此之外的损坏由乙方自行负责维修。</p>
  <p>2．甲方须保证该房屋权属清楚，甲方签署本合同，即视为房屋产权共有人同意出租。同时甲方须保证在签订本合同之前该房屋不存在出租、转让、查封等权利限制和相关债务，如有纠纷，由甲方负责处理。如给乙方造成损失的，甲方负责赔偿。</p>
  <p>3．在租赁期间，甲方如需将该房屋转让或抵押，甲方应提前三个月书面通知乙方并保证本合同的继续履行，乙方有该房屋的优先购买权。</p>
  <p>4．甲、乙双方确认，该房屋交付乙方前，与该房屋有关的水、电、煤气、采暖等费用由甲方承担并负责结清；该房屋交付乙方后的租赁期内，与该房屋有关的相关费用按本合同的约定执行。</p>
  <p>5.除本合同甲、乙双方约定的费用外，承租期间产生的一切与房屋相关的额外费用由甲方承担。</p>
  <p>6.甲方有权对乙方使用房屋的情况进行监督，但不得对乙方正常、合理使用房屋进行干扰或者妨碍。</p>
  <p>7.若房屋租赁期间，房屋装修设施、家具，电器等发生损坏、遗失，甲方有权向乙方索取赔偿。对于保险公司已经赔付的房屋损失，甲方不得再向乙方追偿。</p>
  <p>8._如果甲方要提前解除合同，须至少提前一个月通知乙方并在平台备案。</p>

  <p style="font-weight:bold">八、乙方责任</p>
  <p>1．在租赁期间，如出现需由甲方负责维修的情况时，乙方应及时通知甲方，如因乙方延误通知给甲方造成损失的，由乙方承担维修责任，无法维修的由乙方承担赔偿责任。</p>
  <p>2．本合同因双方协议解除，或租期届满而终止履行时，乙方应在接到甲方解除合同的通知或租期届满之日迁出该房屋，并将该房屋及甲方所属家电、家具等内部设施及乙方对该房屋所进行的装修（如有）完好地返还给甲方，如造成损坏，由乙方负责修缮或按价赔偿。</p>
  <p>3．乙方若要装修翻新房屋（不破坏结构）或更换设施，需先征得甲方同意，费用自付，未经允许不得擅自改动。</p>
  <p>4．乙方使用该房屋时，未经甲方书面同意，不得改变该房屋的用途；不得利用该房屋从事任何违法、非法、不道德、不恰当或有伤风化的活动；不得储存任何违禁品，易燃、爆炸等限制类物品（另行约定的除外），同时必须严格遵守中华人民共和国法律和当地的有关规定。否则视为违约，自甲方提出限期整改之日起15日内仍未改正的，甲方有权解除本合同。</p>
  <p>5._如果乙方要提前解除合同，须至少提前一个月通知甲方并在平台备案。</p>

  <p style="font-weight:bold">九、丙方责任</p>
  <p>1.丙方应当认真负责地为甲、乙双方订立房屋租赁合同提供机会或媒介服务，如实报告政府相关部门有关订立房屋租赁合同的事项，并协助甲、乙双方办理物业交验。</p>
  <p>2.丙方有责任督促甲、乙双方按照合同约定按时缴费。</p>

  <p style="font-weight:bold">十、违约责任</p>
  <p>1.甲方违约责任：</p>
  <p>（1）甲方因故迟延交付房屋，或交付的房屋严重不符合合同约定，影响乙方安全、健康的，按日期扣除日租金；</p>
  <p>（2）若房屋存有隐患至乙方受损，甲方应按实际损失或约定金额向乙方赔偿损失；</p>
  <p>（3）甲方若不承担约定的维修义务，致使乙方无法正常使用房屋的，按日期扣除日租金；</p>
  <p>（4）本该甲方承担费用由乙方支付的，甲方应报销乙方费用；</p>
  <p>（5）对于甲方隐瞒信息，导致纠纷争议，乙方有权单方解约；</p>
  <p>（6）如因甲方原因导致本合同解除的，甲方须向乙方支付违约赔偿金，赔偿金额相当于本合同约定的____个月租金，如该违约金不足以弥补乙方损失的，甲方还须赔偿乙方的损失。</p>
  <p>2.乙方违约责任：</p>
  <p>（1）乙方欠缴第四条第2款中的各项费用达人民币(大写)____________圆（¥________________元），或欠缴各项费用达二个月的，视为乙方违约，甲方有权解除本合同，并按本合同第五条第3款处理；</p>
  <p>（2）如乙方违反本合同第四条第5款的约定，每逾期一日，乙方应按月租金的____%向甲方支付违约金；</p>
  <p>（3）乙方无故拖延支付下一期租金（甲、乙双方另有约定除外）超过____日或逾期____日未迁出该房屋时，甲方有权解除合同，并采取相关措施收回该房屋，而无需给予乙方任何赔偿、补偿，同时履约保证金不予退还，对于乙方遗留在该房屋内的任何财产、物品、文件、资料、设备等，甲方有权通过公安局或该房屋所在地居委会或小区物业等相关部门，将上述物品妥善放置其他处所并书面通知乙方；</p>
  <p>（4）乙方擅自改变房屋用途的，从事违法活动、损害公共利益或者妨碍他人正常工作、生活的，擅自将房屋转租给第三人的，甲方有权单方解约；</p>
  <p>（5）乙方擅自拆改变动或损坏房屋主体结构的，甲方可要求乙方将房屋恢复原状或赔偿相应损失；</p>
  <p>（6）乙方保管不当或不合理使用导致附属物品、设备设施损坏，应按《房屋交割清单》约定赔偿甲方损失。</p>
  <p>（7）如因乙方原因导致本合同解除的，乙方须向甲方支付违约赔偿金，赔偿金额相当于本合同约定的____个月租金，如违约赔偿金不足以弥补甲方损失的，乙方还须赔偿甲方的损失。</p>
  <p>3.丙方违约责任</p>
  <p>丙方应保证房源的真实性，若提供虚假信息、隐瞒重要事实或有恶意串通行为的，除退还已收取的佣金外，还应赔偿由此给甲方或乙方造成的损失。</p>

  <p style="font-weight:bold">十一、免责</p>
  <p>1.如果甲、乙双方未按照合同约定履行，则经双方协商一致，可以免除违约责任，对各方信用评价没有任何影响。</p>
  <p>2.因不可抗力、国家政策需要对该房屋进行拆迁或改造、经房屋安全鉴定单位鉴定为危险房屋不能继续使用，导致本合同无法继续履行的，本合同自行解除，甲、乙双方免责。</p>

  <p style="font-weight:bold">十二、合同解除</p>
  <p>1.若合同到期，在平台提醒甲、乙双方后仍无人回应，则合同当天自行解除，同时平台默认合同签署双方全程履约，无异议。</p>
  <p>2.若合同未到期，经甲、乙双方协商一致，合同可以提前解除，需双方向平台提出解除合同申请，或同时到指定窗口办理合同解除手续。</p>
  <p>3.若合同没有到期，一方提起解除，而另一方提出异议时，则合同解除的流程挂起，待双方协商一致再按协商结果进行下一步操作。</p>
  <p style="font-weight:bold">十三、其他</p>
  <p>1.<strong>合同变更</strong>。本合同在不改变出租人及承租人关系时，可对实际使用人、使用面积、房租金额、《房屋交割清单》等个别款项内容进行调整变更，不影响本合同法律效用。若甲方、变更，则应对本合同进行解除处理。</p>
  <p>2.<strong>合同生效</strong>。本合同一式三份，甲方、乙方、丙方各持一份，具有同等法律效力，并通过平台电子备案。本合同自履约保证金银行到账，平台审核通过并电子回执各方后正式生效。</p>
  <p>3.<strong>合同无效</strong>。</p>
  <p>1.本合同签署过程中若存在房屋权属争议，各方代理人无委托证明，在非平等自愿的情况下被胁迫签署，存在损害国家利益等违法、违规情况，合同视为无效。</p>
  <p>2.房屋出租应当以原设计的房间为最小出租单位，人均使用面积不得少于4平方米；厨房、卫生间、阳台和地下储藏室不得出租供人员居住；对不符合最小出租单位、居住人数限制和最低人均承租面积规定的租赁行为，合同签订不再生效。</p>
  <p>4.合同争议。本合同的订立、生效、解释及争议，均适用中国法律。发生争议时由双方当事人协商解决；协商不成的，可以向平台投诉，平台提供帮助协商解决，但不负责对各方过错进行仲裁，任何一方可依法向有管辖权的人民法院起诉，或按照另行达成的仲裁条款或仲裁协议申请仲裁。平台有权将违约人违约情况记入信用体系，并联合政府其它相关部门进行追责。</p>
  <p style="font-weight:bold">十四、提醒</p>
  <p>1．甲、乙双方向丙方交付的款项，丙方均出具正式的收据或发票，请向收取人索取。</p>
  <p>2．甲、乙双方对合同约定的权利与义务已充分知晓并认可，并保证本合同所填所有信息的真实有效性，若因私下签署影子合同造成的一切后果，由各方自行承担。</p>
  <p>3．甲、乙双方应向当地房屋租赁部门办理登记备案手续。</p>
  <p>4．甲、乙双方应向当地派出所办理治安责任登记。</p>
  <p>5．乙方及实际使用人若非本地户口，应到房屋所在地派出所办理居住证，居住证期限与合同期限相同，最长为一年。</p>
  <p>6．每次缴租日之前，甲、乙双方应对房屋各项使用费用的阶段费用进行核对，以免造成长时间欠缴。</p>
  <p>7．甲、乙双方就有关本次租赁的相关证明（房产证明、身份证明等）已互验并认可。若乙方因租用使用权、违建、查封等非正规房源，造成的任何损失，后果由自己承担。</p>
  <p>8．甲、乙双方在签约时已见过对方本人或有授权书的代理人并认可对方的签约权利。</p>
  <p>9．甲、乙双方不要将款项交由丙方员工（无论任何职位）个人处保管，以保障甲、乙双方资金安全，若因此产生损失，由甲、乙双方自行承担。</p>
  <p>10．甲、乙双方请保持合同所填电话畅通，以便及时接收平台的通知类短信，若电话变更，请于10日内联系平台进行更改。如果因电话变更造成的损失由本人负责。</p>
  <p>11．甲、乙双方应保证以上所填常住地址在合同解除之前能够接收快递，即视为通知送达。</p>
  <p>12.乙方若因故长时间不能居住该房屋，需提前与甲方联系，留下变更联系方式，并将备用钥匙留给甲方，以备不时之需。</p>
  <p>13.甲、乙、丙三方须登陆平台网站（http://www.housecenter.cn）仔细阅读《大连市房屋租赁运营管理平台信用体系》，并按照要求维护好自己的信用分数。</p>
  <p>14.合同到期之后，对于乙方拒不腾退房屋的，甲方有权自由进入，房屋内的任何遗留物品，视为乙方自动放弃。</p>
  <p style="font-weight:bold">甲、乙双方对上述提醒事项已完全知晓，若出现问题甲、乙双方自行承担自认，确认签字（甲方：____________________乙方：____________________）</p>
  <p style="font-weight:bold">十五、由甲、乙双方确认的附加条款如下：</p>
  <p>1、签约当日甲方提供的证件原件有：________________________________________</p>
  <p> □身份证明  □身份证  □军官证  □护照  □士兵证  □产权证明  □产权证  □使用权证  □军产证或发票  □购房合同及发票  □借款合同及发票  □地产证_________________________________________</p>
  <p>2、签约当日乙方提供的证件原件有：________________________________________</p>
  <p>□身份证明  □身份证  □军官证  □护照  □士兵证</p>
  <p>3、甲、乙双方同意将上述证件的复印件留存于丙方处。</p>
  <p>4、□乙方非本市户口需到房屋所在地派出所办理居住证。</p>
  <p style="font-weight:bold">十六、附加</p>
  <p>_____________________________________________________________________________________________________________</p>
  <p>_____________________________________________________________________________________________________________</p>
  <p>出租方：　　　　　　　　　　　　　居间方：　　　　　　　　　　　　　承租方：</p>
  <p>代理人：　　　　　　　　　　　　　签约人：　　　　　　　　　　　　　代理人：</p>
  <p>联系电话：　　　　　　　　　　　　联系电话：　　　　　　　　　　　　联系电话：</p>
  <p> 　　　　年　　月　　日 　　　　　　　　　年　　月　　日　　　　　　　　年　　月　　日　</p>

</div>
</body>
</html>