<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>大连市房屋租赁管理有限公司</title>
<style type="text/css">
body {
	font-family: Arial Unicode MS;
	width: 690px;
	height: 1000px;
	border-bottom:1px solid #000;
}

p { margin:0;
	margin-bottom:1px;
}

</style>
</head>
<body>
<div style="line-height:12px; font-size:8px;">
  <div style="font-size:10px; margin-bottom:10px;">大连市房屋租赁管理有限公司----------------------------------------------------------------------------------------------</div>
  <p style="font-weight:bold  margin-bottom:10px;">协议编号：________________________________</p>
<p style="font-weight:bold">房屋租赁履约保证金返还协议</p>

<p style="font-weight:bold">出租方（以下称甲方）</p>
<p>姓名：_________________ 有效身份证件：__________________</p>
<p>代理人：________________ 有效身份证件：__________________</p>
<p style="font-weight:bold">承租方（以下称乙方）</p>
<p>姓名：_________________ 有效身份证件：__________________</p>
<p>代理人：________________ 有效身份证件：__________________</p>

<p>甲、乙双方于大连市房屋租赁运营管理平台共同签署了《大连市房屋租赁合同》，合同编号为________________，乙方支付人民币（大写）_______________圆，（¥_________元）存入大连市房屋租赁运营管理平台统一账户，作为履约保证金进行第三方监管。现因合同到期，或提前解约，双方经协商一致，拟将履约保证金解冻。双方本着和平友好的原则协商将履约保证金转入甲方_______________账户人民币（大写）_______________圆，（¥_________元），转入乙方 _______________账户人民币（大写）_______________圆，（¥_________元）。</p>

<p>本协议一式三份，甲乙双方签字或盖章生效，甲乙双方各执一份，银行留存一份，效力等同。</p>


<p>出租方：　　　　　　　　　　　　　　　　　　　　　　　　　承租方：</p>
<p>代理人：　　　　　　　　　　　　　　　　　　　　　　　　　代理人：</p>
<p>联系电话：　　　　　　　　　　　　　　　　　　　　　　　　联系电话：</p>
<p>　　　　年　　月　　日　　　　　　　　　　　　　　　　　　　　　　年　　月　　日</p>

</div>
</body>
</html>